@{
    string username = HttpContext.Current.Request.Cookies["Username"]?.Value;
    ViewBag.Title = "Home Page";
}

<main>
    @Html.Partial("_FlashMessage")
    <h2 class="text-center">Welcome @username</h2>

</main>